In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Airline Dataset.csv')
data.head()

,Passenger ID,First Name,Last Name,Gender,Age,Nationality,Airport Name,Airport Country Code,Country Name,Airport Continent,Continents,Departure Date,Arrival Airport,Pilot Name,Flight Status
0,10856,Edithe,Leggis,Female,62,Japan,Coldfoot Airport,US,United States,NAM,North America,6/28/2022,CXF,Edithe Leggis,On Time
1,43872,Elwood,Catt,Male,62,Nicaragua,Kugluktuk Airport,CA,Canada,NAM,North America,12/26/2022,YCO,Elwood Catt,On Time
2,42633,Darby,Felgate,Male,67,Russia,Grenoble-Isère Airport,FR,France,EU,Europe,1/18/2022,GNB,Darby Felgate,On Time
3,78493,Dominica,Pyle,Female,71,China,Ottawa / Gatineau Airport,CA,Canada,NAM,North America,9/16/2022,YND,Dominica Pyle,Delayed
4,82072,Bay,Pencost,Male,21,China,Gillespie Field,US,United States,NAM,North America,2/25/2022,SEE,Bay Pencost,On Time

In [16]:
data.columns = [col.strip() for col in data.columns]

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98619 entries, 0 to 98618
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Passenger ID          98619 non-null  int64
 1   First Name            98619 non-null  object
 2   Last Name             98619 non-null  object
 3   Gender                98619 non-null  object
 4   Age                   98619 non-null  int64
 5   Nationality           98619 non-null  object
 6   Airport Name          98619 non-null  object
 7   Airport Country Code  98619 non-null  object
 8   Country Name          98619 non-null  object
 9   Airport Continent     98619 non-null  object
 10  Continents            98619 non-null  object
 11  Departure Date        98619 non-null  object
 12  Arrival Airport       98619 non-null  object
 13  Pilot Name            98619 non-null  object
 14  Flight Status         98619 non-null  object
dtypes: int64(2), object(13)
memory usage: 11.3+ MB

### Membagi dataset

In [6]:
from sklearn.model_selection import train_test_split

In [3]:
x = data.drop("Flight Status", axis=1)
x

,Passenger ID,First Name,Last Name,Gender,Age,Nationality,Airport Name,Airport Country Code,Country Name,Airport Continent,Continents,Departure Date,Arrival Airport,Pilot Name
0,10856,Edithe,Leggis,Female,62,Japan,Coldfoot Airport,US,United States,NAM,North America,6/28/2022,CXF,Edithe Leggis
1,43872,Elwood,Catt,Male,62,Nicaragua,Kugluktuk Airport,CA,Canada,NAM,North America,12/26/2022,YCO,Elwood Catt
2,42633,Darby,Felgate,Male,67,Russia,Grenoble-Isère Airport,FR,France,EU,Europe,1/18/2022,GNB,Darby Felgate
3,78493,Dominica,Pyle,Female,71,China,Ottawa / Gatineau Airport,CA,Canada,NAM,North America,9/16/2022,YND,Dominica Pyle
4,82072,Bay,Pencost,Male,21,China,Gillespie Field,US,United States,NAM,North America,2/25/2022,SEE,Bay Pencost
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98614,58454,Gareth,Mugford,Male,85,China,Hasvik Airport,NO,Norway,EU,Europe,12/11/2022,HAA,Gareth Mugford
98615,22028,Kasey,Benedict,Female,19,Russia,Ampampamena Airport,MG,Madagascar,AF,Africa,10/30/2022,IVA,Kasey Benedict
98616,61732,Darrin,Lucken,Male,65,Indonesia,Albacete-Los Llanos Airport,ES,Spain,EU,Europe,9/10/2022,ABC,Darrin Lucken
98617,19819,Gayle,Lievesley,Female,34,China,Gagnoa Airport,CI,Côte d'Ivoire,AF,Africa,10/26/2022,GGN,Gayle Lievesley
98618,14485,Wilhelmine,Touret,Female,10,Poland,Yoshkar-Ola Airport,RU,Russian Federation,EU,Europe,4/16/2022,JOK,Wilhelmine Touret

In [4]:
y = data["Flight Status"]
y

0          On Time
1          On Time
2          On Time
3          Delayed
4          On Time
           ...
98614    Cancelled
98615    Cancelled
98616      On Time
98617    Cancelled
98618      Delayed
Name: Flight Status, Length: 98619, dtype: object

Membagi dataset menjadi training set dan testing set dengan proporsi 70:30, menggunakan 0.3 yang melambangkan 30%

In [7]:
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=0.3)

In [8]:
print("Dimensi x_train :",x_train.shape)
print("Dimensi x_test :",x_test.shape)
print("Dimensi y_train :",y_train.shape)
print("Dimensi y_test :",y_test.shape)

Dimensi x_train : (69033, 14)
Dimensi x_test : (29586, 14)
Dimensi y_train : (69033,)
Dimensi y_test : (29586,)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98619 entries, 0 to 98618
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Passenger ID          98619 non-null  int64
 1   First Name            98619 non-null  object
 2   Last Name             98619 non-null  object
 3   Gender                98619 non-null  object
 4   Age                   98619 non-null  int64
 5   Nationality           98619 non-null  object
 6   Airport Name          98619 non-null  object
 7   Airport Country Code  98619 non-null  object
 8   Country Name          98619 non-null  object
 9   Airport Continent     98619 non-null  object
 10  Continents            98619 non-null  object
 11  Departure Date        98619 non-null  object
 12  Arrival Airport       98619 non-null  object
 13  Pilot Name            98619 non-null  object
 14  Flight Status         98619 non-null  object
dtypes: int64(2), object(13)
memory usage: 11.3+ MB

### Normalisasi

In [10]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler
import numpy as np

In [11]:
data2 = data.copy()
ss = MinMaxScaler()

In [12]:
Scaled_data = ss.fit_transform(data[['Age']])

setelah melakukan scaling, kita tampilkan nilai min dan max

In [23]:
print("Nilai data scaling")
print(Scaled_data)
print("Nilai max:", Scaled_data.max(), 
      "Nilai min:", Scaled_data.min())

Nilai data scaling
[[0.68539326]
 [0.68539326]
 [0.74157303]
 ...
 [0.71910112]
 [0.37078652]
 [0.1011236 ]]
Nilai max: 1.0 Nilai min: 0.0

### Standarisasi

In [22]:
data3 = data.copy()
ss = StandardScaler()

kita lakukan standarisasi menggunakan tipe data integer

In [27]:
data3[['Age']] = ss.fit_transform(data3[['Age']])
print("Nilai data scaling")
print(data3[['Age']])
print("Nilai Standar Deviasi : ", np.std(data3[['Age']]))

Nilai data scaling
            Age
0      0.636180
1      0.636180
2      0.829009
3      0.983273
4     -0.945017
...         ...
98614  1.523194
98615 -1.022148
98616  0.751878
98617 -0.443662
98618 -1.369241

[98619 rows x 1 columns]
Nilai Standar Deviasi :  Age    1.0
dtype: float64

### Data Cleaning

##### pada data duplikat

In [28]:
from sklearn.impute import SimpleImputer

In [30]:
imputer = SimpleImputer(strategy = 'median')

In [49]:
print("Nilai duplikat sebanyak ", data3.duplicated().sum())

Nilai duplikat sebanyak  0

karna dalam dataset tidak ada nilai yang duplikat, maka kita lakukan hal seperti ini

In [92]:
data = pd.concat([data, data], ignore_index=True)
print("Nilai duplikat sebanyak ", data.duplicated().sum())

Nilai duplikat sebanyak  98619

setelah itu kita lakukan pengahapusan untuk nilai yang duplikat

In [79]:
data.drop_duplicates(inplace=True)
print("Nilai duplikat sebanyak ", data.duplicated().sum())

Nilai duplikat sebanyak  0

##### pada nilai null

In [82]:
print("Nilai null: ", data.isnull().sum())

Nilai null:  Passenger ID            0
First Name              0
Last Name               0
Gender                  0
Age                     0
Nationality             0
Airport Name            0
Airport Country Code    0
Country Name            0
Airport Continent       0
Continents              0
Departure Date          0
Arrival Airport         0
Pilot Name              0
Flight Status           0
dtype: int64

mengubah tipe data int menjadi float

In [60]:
data2['Age'] = data2['Age'].astype(float)

In [64]:
# bilangan bulat
data2.loc[100:200, ['Passenger ID']] = np.nan
# bilangan desimal
data2.loc[1:20, ['Age']] = np.nan
# tulisan
data2.loc[400:900, ['Nationality']] = np.nan
data2.isna().sum()

Passenger ID            101
First Name                0
Last Name                 0
Gender                    0
Age                     131
Nationality             618
Airport Name              0
Airport Country Code      0
Country Name              0
Airport Continent         0
Continents                0
Departure Date          101
Arrival Airport           0
Pilot Name                0
Flight Status             0
dtype: int64

berdasarkan data diatas, ada 4 atribut yang memiliki nilai null

mengahapus nilai null pada bagian 'Departure Date'

In [71]:
imputer5 = SimpleImputer(strategy='most_frequent')
data2['Departure Date'] = imputer5.fit_transform(data2[['Departure Date']])
data2.isna().sum()

Passenger ID              0
First Name                0
Last Name                 0
Gender                    0
Age                     131
Nationality             618
Airport Name              0
Airport Country Code      0
Country Name              0
Airport Continent         0
Continents                0
Departure Date            0
Arrival Airport           0
Pilot Name                0
Flight Status             0
dtype: int64

Mengahapus nilai null pada bagian 'Passenger ID'

In [72]:
imputer = SimpleImputer(strategy='median')
data2['Passenger ID'] = imputer.fit_transform(data2[['Passenger ID']])
data2.isna().sum()

Passenger ID              0
First Name                0
Last Name                 0
Gender                    0
Age                     131
Nationality             618
Airport Name              0
Airport Country Code      0
Country Name              0
Airport Continent         0
Continents                0
Departure Date            0
Arrival Airport           0
Pilot Name                0
Flight Status             0
dtype: int64

Menghapus nilai null pada bagian 'Age'

In [73]:
imputer = SimpleImputer(strategy='mean')
data2['Age'] = imputer.fit_transform(data2[['Age']])
data2.isna().sum()

Passenger ID              0
First Name                0
Last Name                 0
Gender                    0
Age                       0
Nationality             618
Airport Name              0
Airport Country Code      0
Country Name              0
Airport Continent         0
Continents                0
Departure Date            0
Arrival Airport           0
Pilot Name                0
Flight Status             0
dtype: int64

Mengapus nilai null pada bagian 'Nationality'

In [74]:
imputer = SimpleImputer(strategy='most_frequent')
data2['Nationality'] = imputer.fit_transform(data2[['Nationality']])
data2.isna().sum()

Passenger ID            0
First Name              0
Last Name               0
Gender                  0
Age                     0
Nationality             0
Airport Name            0
Airport Country Code    0
Country Name            0
Airport Continent       0
Continents              0
Departure Date          0
Arrival Airport         0
Pilot Name              0
Flight Status           0
dtype: int64

sudah tidak ada nilai null dalam dataset

### Mengubah tipe data salah satu attribute angka

In [84]:
data['Passenger ID'] = data['Passenger ID'].astype(float)

tipe data awal adalah int dan kita ubah menjadi float

In [85]:
data.dtypes

Passenger ID            float64
First Name               object
Last Name                object
Gender                   object
Age                       int64
Nationality              object
Airport Name             object
Airport Country Code     object
Country Name             object
Airport Continent        object
Continents               object
Departure Date           object
Arrival Airport          object
Pilot Name               object
Flight Status            object
dtype: object

### One Hot Encoding

In [86]:
from sklearn.preprocessing import OneHotEncoder

In [87]:
hot = OneHotEncoder(sparse = False)

In [89]:
data.Gender.unique()

array(['Female', 'Male'], dtype=object)

kita gunakan atribut 'Gender'

In [90]:
Gender = hot.fit_transform(data[["Gender"]])
Gender = pd.DataFrame(Gender)

# membuat kolom baru
data["Female"] = Gender[0] 
data["Male"] = Gender[1]

c:\Users\meisy\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Menampilkan dataset dengan kolom terbaru

In [91]:
data.head()

,Passenger ID,First Name,Last Name,Gender,Age,Nationality,Airport Name,Airport Country Code,Country Name,Airport Continent,Continents,Departure Date,Arrival Airport,Pilot Name,Flight Status,Female,Male
0,10856.0,Edithe,Leggis,Female,62,Japan,Coldfoot Airport,US,United States,NAM,North America,6/28/2022,CXF,Edithe Leggis,On Time,1.0,0.0
1,43872.0,Elwood,Catt,Male,62,Nicaragua,Kugluktuk Airport,CA,Canada,NAM,North America,12/26/2022,YCO,Elwood Catt,On Time,0.0,1.0
2,42633.0,Darby,Felgate,Male,67,Russia,Grenoble-Isère Airport,FR,France,EU,Europe,1/18/2022,GNB,Darby Felgate,On Time,0.0,1.0
3,78493.0,Dominica,Pyle,Female,71,China,Ottawa / Gatineau Airport,CA,Canada,NAM,North America,9/16/2022,YND,Dominica Pyle,Delayed,1.0,0.0
4,82072.0,Bay,Pencost,Male,21,China,Gillespie Field,US,United States,NAM,North America,2/25/2022,SEE,Bay Pencost,On Time,0.0,1.0