In [183]:
import pandas as pd
dataFrame=pd.read_csv('Airline Dataset.csv')

1. Tampilkan rata-rata, standar diviasi, nlai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka

Untuk menampilkannya kita bisa menggunakan command .describe()

In [184]:
dataFrame.describe()

       Passenger ID           Age
count  98619.000000  98619.000000
mean   55168.689522     45.504021
std    25985.443696     25.929849
min    10000.000000      1.000000
25%    32608.000000     23.000000
50%    55338.000000     46.000000
75%    77695.000000     68.000000
max    99999.000000     90.000000

2. Tampilkan 10 record pertama dari dataset dengan attribute bertipe angka

Filter hanya kolom yang bertipe data numerik saja yang akan ditampilkan

In [185]:
kolom_numerik = dataFrame.select_dtypes(include=[int])

Data yang sudah di filter,  kita beri commad .head() untuk menampilkan data teratas dan beri parameter 10 karna yang mau ditampilkan adalah 10 data teratas

In [186]:
kolom_numerik.head(10)

   Passenger ID  Age
0         10856   62
1         43872   62
2         42633   67
3         78493   71
4         82072   21
5         39630   55
6         11940   73
7         26470   36
8         29447   35
9         75035   13

3. Tampilkan informasi jumlah record, jumlah atribute, nama atribute, jumlah atribute dengan tipe angka. Masukkan informasi tersebut dalam dictionary dengan key sesuai nama informasinya. Tampilkan isi dari dictionary tersebut sebagus mungkin

Menampilkan informasi tentang jumlah record dan jumlah atribut

In [187]:
num_records, num_attributes = dataFrame.shape

Menampilkan nama atribut

In [188]:
attribute_names = dataFrame.columns.tolist()

Menghitung jumlah atribut dengan tipa data angka

In [189]:
numeric_attributes = dataFrame.select_dtypes(include=['number']).shape[1]

Selanjutnya kita membuat dictionary dengan isi sesuai informasi yang sudah kita buat diatas

In [190]:
info_dictionary = {
    'Jumlah Record' : num_records,
    'Jumlah Atribut' : num_attributes,
    'Nama Atribut' : attribute_names,
    'Jumlah Atribut Tipe Angka' : num_attributes
}

Agar saat dictionary ditampilkan terlihat lebih rapi kita menggunakan format dibawah ini

In [191]:
for key, value in info_dictionary.items():
    print(f"{key}:")
    if isinstance(value, list):
        for item in value:
            print(f" - {item}")
    else:
        print(f" {value}")

Jumlah Record:
 98619
Jumlah Atribut:
 15
Nama Atribut:
 - Passenger ID
 - First Name
 - Last Name
 - Gender
 - Age
 - Nationality
 - Airport Name
 - Airport Country Code
 - Country Name
 - Airport Continent
 - Continents
 - Departure Date
 - Arrival Airport
 - Pilot Name
 - Flight Status
Jumlah Atribut Tipe Angka:
 15

4. Tampilkan nilai dataset pada baris dimulai dengan 3 digit NIM akhir hingga data terakhir dan kolom ke 4 hingga kolom terakhir menggunakan ke 2 metode slice

Metode slice, yaitu loc dan iloc

Menggunakan .iloc

In [216]:
dataFrame.iloc[30:, 3:]

,Gender,Age,Nationality,Airport Name,Airport Country Code,Country Name,Airport Continent,Continents,Departure Date,Arrival Airport,Pilot Name,Flight Status
30,Female,14,China,Faleolo International Airport,WS,Samoa,OC,Oceania,7/22/2022,APW,Magdalen Claiden,Delayed
31,Female,58,Latvia,Gorge Harbour Seaplane Base,CA,Canada,NAM,North America,8/5/2022,YGE,Celina Boothebie,Cancelled
32,Male,19,Germany,Nesson Airport,NC,New Caledonia,OC,Oceania,3/25/2022,HLU,Murvyn Duff,Cancelled
33,Female,22,Czech Republic,Malabo Airport,GQ,Equatorial Guinea,AF,Africa,9/23/2022,SSG,Lyndsie Dyball,Delayed
34,Female,44,Ireland,Zahn's Airport,US,United States,NAM,North America,11/23/2022,AYZ,Ashlie Rotham,Delayed
...,...,...,...,...,...,...,...,...,...,...,...,...
98614,Male,85,China,Hasvik Airport,NO,Norway,EU,Europe,12/11/2022,HAA,Gareth Mugford,Cancelled
98615,Female,19,Russia,Ampampamena Airport,MG,Madagascar,AF,Africa,10/30/2022,IVA,Kasey Benedict,Cancelled
98616,Male,65,Indonesia,Albacete-Los Llanos Airport,ES,Spain,EU,Europe,9/10/2022,ABC,Darrin Lucken,On Time
98617,Female,34,China,Gagnoa Airport,CI,Côte d'Ivoire,AF,Africa,10/26/2022,GGN,Gayle Lievesley,Cancelled
98618,Female,10,Poland,Yoshkar-Ola Airport,RU,Russian Federation,EU,Europe,4/16/2022,JOK,Wilhelmine Touret,Delayed

Menggunakan .loc

In [223]:
dataFrame.loc[30:, ['Gender', 'Age', 'Nationality', 'Airport Name', 'Airport Country Code', 'Country Name', 'Airport Continent', 'Continents', 'Departure Date', 'Arrival Airport', 'Pilot Name', 'Flight Status']]

,Gender,Age,Nationality,Airport Name,Airport Country Code,Country Name,Airport Continent,Continents,Departure Date,Arrival Airport,Pilot Name,Flight Status
30,Female,14,China,Faleolo International Airport,WS,Samoa,OC,Oceania,7/22/2022,APW,Magdalen Claiden,Delayed
31,Female,58,Latvia,Gorge Harbour Seaplane Base,CA,Canada,NAM,North America,8/5/2022,YGE,Celina Boothebie,Cancelled
32,Male,19,Germany,Nesson Airport,NC,New Caledonia,OC,Oceania,3/25/2022,HLU,Murvyn Duff,Cancelled
33,Female,22,Czech Republic,Malabo Airport,GQ,Equatorial Guinea,AF,Africa,9/23/2022,SSG,Lyndsie Dyball,Delayed
34,Female,44,Ireland,Zahn's Airport,US,United States,NAM,North America,11/23/2022,AYZ,Ashlie Rotham,Delayed
...,...,...,...,...,...,...,...,...,...,...,...,...
98614,Male,85,China,Hasvik Airport,NO,Norway,EU,Europe,12/11/2022,HAA,Gareth Mugford,Cancelled
98615,Female,19,Russia,Ampampamena Airport,MG,Madagascar,AF,Africa,10/30/2022,IVA,Kasey Benedict,Cancelled
98616,Male,65,Indonesia,Albacete-Los Llanos Airport,ES,Spain,EU,Europe,9/10/2022,ABC,Darrin Lucken,On Time
98617,Female,34,China,Gagnoa Airport,CI,Côte d'Ivoire,AF,Africa,10/26/2022,GGN,Gayle Lievesley,Cancelled
98618,Female,10,Poland,Yoshkar-Ola Airport,RU,Russian Federation,EU,Europe,4/16/2022,JOK,Wilhelmine Touret,Delayed

5. Tampilkan jumlah label dari semua attribute yang bernilai object

Untuk menghitung jumlah label dalam atribut kita menggunakan .value_coounts()

In [194]:
dataFrame['First Name'].value_counts()

Gale       37
Brett      36
Conny      35
Gerrie     35
Haleigh    35
           ..
Kalila      2
Brina       2
Maggy       2
Nicolle     1
Diann       1
Name: First Name, Length: 8437, dtype: int64

In [195]:
dataFrame['Last Name'].value_counts()

Dyball        17
Capron        15
Ducker        13
Richfield     12
Danaher       11
              ..
Orwell         1
Scarff         1
Stapleford     1
Thurner        1
Lucken         1
Name: Last Name, Length: 41658, dtype: int64

In [196]:
dataFrame['Gender'].value_counts()

Male      49598
Female    49021
Name: Gender, dtype: int64

In [197]:
dataFrame['Nationality'].value_counts()

China                     18317
Indonesia                 10559
Russia                     5693
Philippines                5239
Brazil                     3791
                          ...
Romania                       2
British Virgin Islands        2
Jersey                        1
Norfolk Island                1
Sint Maarten                  1
Name: Nationality, Length: 240, dtype: int64

In [198]:
dataFrame['Airport Name'].value_counts()

San Pedro Airport             43
Santa Maria Airport           38
Böblingen Flugfeld            36
Santa Ana Airport             35
San Fernando Airport          31
                              ..
Balıkesir Merkez Airport       2
Arkalyk North Airport          2
Juba International Airport     2
Falcon State Airport           1
Hiroshima Airport              1
Name: Airport Name, Length: 9062, dtype: int64

In [199]:
dataFrame['Airport Country Code'].value_counts()

US    22104
AU     6370
CA     5424
BR     4504
PG     4081
      ...
AD        7
MC        7
NR        7
PW        5
JE        4
Name: Airport Country Code, Length: 235, dtype: int64

In [200]:
dataFrame['Country Name'].value_counts()

United States       22104
Australia            6370
Canada               5424
Brazil               4504
Papua New Guinea     4081
                    ...
Andorra                 7
Monaco                  7
Nauru                   7
Palau                   5
Jersey                  4
Name: Country Name, Length: 235, dtype: int64

In [201]:
dataFrame['Airport Continent'].value_counts()

NAM    32033
AS     18637
OC     13866
EU     12335
AF     11030
SAM    10718
Name: Airport Continent, dtype: int64

In [202]:
dataFrame['Continents'].value_counts()

North America    32033
Asia             18637
Oceania          13866
Europe           12335
Africa           11030
South America    10718
Name: Continents, dtype: int64

In [203]:
dataFrame['Departure Date'].value_counts()

7/22/2022     325
5/26/2022     314
10/16/2022    310
8/15/2022     310
11/25/2022    310
             ...
12/12/2022    233
4/30/2022     233
8/28/2022     232
10/4/2022     231
6/18/2022     224
Name: Departure Date, Length: 364, dtype: int64

In [204]:
dataFrame['Arrival Airport'].value_counts()

0      873
JNB     37
PHM     36
MPT     32
PCO     27
      ...
CXM      2
IPI      2
BQU      2
FAL      1
HIJ      1
Name: Arrival Airport, Length: 9024, dtype: int64

In [205]:
dataFrame['Pilot Name'].value_counts()

Ertha Feldbaum         2
Karyn Heersema         2
Rance Evetts           2
Ollie Sidle            2
Damian Garnsey         2
                      ..
Charlton Bunson        1
Claudianus Kamiyama    1
Janifer Kennsley       1
Kaja Lantry            1
Wilhelmine Touret      1
Name: Pilot Name, Length: 98610, dtype: int64

In [206]:
dataFrame['Flight Status'].value_counts()

Cancelled    32942
On Time      32846
Delayed      32831
Name: Flight Status, dtype: int64